/* App.css */
body {
  margin: 0;
  padding: 0;
}

nav.navbar {
  width: 100%;
  position: sticky; /* ou position: fixed; si vous voulez qu'elle reste toujours visible */
  top: 0;
  z-index: 1000;
}

.col-md-3 { /*Style de la sidebar*/
  padding: 0;
}

.col-md-9{ /*Style du contenu*/
  padding: 0;
}

main {
  padding-top: 20px;
}